
body {

    background-color: aqua;

}

.container {

    align-items: center;
    justify-content: center;
    display: flex;
    height: 100vh;

}

.main {

    width: 50%;
    height: 50vh;
    background: black;
    border-radius: 10px;

}

.content {

    align-items: center;
    justify-content: center;
    display: flex;

}

.joke_btn {

    border: none;
    font-size: 50px;
    background: none;
    margin-top: 10px;

}