
body {

    background-color: aqua;

}

.container {

    align-items: center;
    justify-content: center;
    display: flex;
    height: 100vh;

}

.main {

    width: 60%;
    height: 50vh;
    background: black;
    border-radius: 10px;

}

.content {

    align-items: center;
    justify-content: center;
    display: flex;

}

.joke_btn {

    border: none;
    font-size: 50px;
    background: none;
    margin-top: 10px;

}

.about {

    align-items: center;
    justify-content: center;
    padding-left: 20px;
    margin-top: 60px;

}

#joke {

    opacity: 0;
    transition: opacity 1.5s;

}

#joke.fade {
    opacity: 1;
}

.generat_btn {

    text-align: center;
    margin-top: 50px;

}

.generat_btn button {

    width: 20%;
    height: 5vh;
    border: none;
    background-color: aqua;
    border-radius: 5px;
    cursor: pointer;
    transition: 1s ease;

}

.generat_btn button:hover {

    transform: translateY(-5px);

}